* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgoldenrod;
    gap: 2px;
}

.container {
background-color: white;
    height: 30vh;
    width: 30rem;
    outline: 1px solid black;
    display: flex;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10rem;
}
#black {
    background-color: black;
}


img {
    width: 100%;
    height: 30vh;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

img:hover {
    transform: scale(0.8);
}

p {
    height: 5rem;
    color: brown;
}